header{
    height: 80px;
    background-color: var(--red);
    align-items: flex-start;

}.header-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.header-content-logo{
    width: 150px;
}.header-content-description{
    color: white;
}