.hero {
  background-color: var(--red);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-title {
  color: var(--white);
  font-size: 64px;
}
.hero-subtitle {
color: var(--white);
font-size: 18px;
font-weight: 400;
}
.hero-img {
  margin-bottom: -305px;
}